{erl_opts, [debug_info]}.
{deps, []}.
{pre_hooks, [
  {compile, "./bootstrap"},
  {compile, "./configure"},
  {compile, "ln -sf src ebin"},
  {compile, "ln -sf c_src priv"},
  {"(linux|darwin|solaris)", compile, "make all"},
  {"(freebsd)", compile, "gmake -C all"}
]}.
{post_hooks, [
  {clean, "rm -f aclocal.m4 config/depcomp config/install-sh config/missing configure Makefile Makefile.in Makefile Makefile.in c_src/Makefile c_src/Makefile.in src/Makefile src/Makefile.in config.log config.status"},
  {clean, "rm -rf autom4te.cache egssapi/c_src/.deps/"},
  {clean, "rm -f c_src/gssapi_drv ebin priv src/SPNEGOASNOneSpec.asn1db src/SPNEGOASNOneSpec.beam src/SPNEGOASNOneSpec.erl src/SPNEGOASNOneSpec.hrl src/egssapi.app src/egssapi.beam src/spnego.beam"},
  {clean, "rm -f ebin priv"}
]}.
