{erl_opts, [debug_info]}.
{deps, []}.
{pre_hooks, [
  {compile, "./bootstrap"},
  {compile, "./configure"},
  {"(linux|darwin|solaris)", compile, "make all"},
  {"(freebsd)", compile, "gmake -C all"}
]}.
{post_hooks, [
  {clean, "rm -f aclocal.m4 config/depcomp config/install-sh config/missing configure Makefile Makefile.in egssapi/Makefile egssapi/Makefile.in egssapi/c_src/Makefile egssapi/c_src/Makefile.in egssapi/src/Makefile egssapi/src/Makefile.in config.log config.status"},
  {clean, "rm -rf autom4te.cache egssapi/c_src/.deps/"},
  {clean, "rm -f egssapi/c_src/gssapi_drv egssapi/ebin egssapi/priv egssapi/src/SPNEGOASNOneSpec.asn1db egssapi/src/SPNEGOASNOneSpec.beam egssapi/src/SPNEGOASNOneSpec.erl egssapi/src/SPNEGOASNOneSpec.hrl egssapi/src/egssapi.app egssapi/src/egssapi.beam egssapi/src/spnego.beam"}
]}.
